---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout categorySelected="articles">
  <article class="prose lg:prose-xl dark:prose-dark">
    I'm planning on consolidating my articles into folders once I have a few
    more of them. But in the meantime, you can look at them by selecting the
    links below:
    <ul class="list-disc list-inside">
      <li>
        <a href="/articles/creating-this-website">Creating This Website</a>
      </li>
      <li>
        <a href="/articles/the-nintendo-switch-battery-fiasco"
          >The Nintendo Switch Battery Fiasco</a
        >
      </li>
      <li>
        <a href="/articles/a-ttrpg-bartering-system">A TTRPG Bartering System</a
        >
      </li>
      <li><a href="/articles/moondunk-2022">Moondunk 2022</a></li>
      <li><a href="/articles/windows-support-in-waveterm">Windows Support in Waveterm</a></li>
    </ul>
  </article>
</MainLayout>
