---
import MainLayout from '../../layouts/MainLayout.astro';

const pageName = "Creating This Website";
const pageDescription = "The trials and tribulations I went through to set up the initial version of this website.";
---

<MainLayout categorySelected='articles' pageName={ pageName } pageDescription={ pageDescription }>
<article class="prose lg:prose-xl dark:prose-dark">
    <h2>Recurse</h2>
    <p>
        A few weeks ago, I started a batch at the Recurse Center, and it's been awesome so far.  For those not familiar with it, the best way I can explain it is that it's a programming retreat with the goal of making you "a dramatically better programmer."  I think that's selling it a little short because it's easy to make a comparison to a coding bootcamp, but it isn't that.  It's much more self-guided and collaborative&mdash;which makes it very different from most formal education systems.

        Anyway, I attended with the intent of working on a secret website project, learning about how data is stored in various files, and dipping into some aspects of graphics programming.  And while all of those are happening, I'm really digging into the graphics side of things.
    </p>
    <h2>Shaders</h2>
    <p>
        Enter shaders.  A shader is a small program that runs on a GPU instead of your CPU.  They are written in shader-specific languages, and are extremely efficient for doing a bunch of similar computations at the same time.  This makes them ideal for graphics programming (hence, the name "shader") because it allows you to process each individual pixel at the same time.  There are some limitations to this&mdash;for instance, it's difficult to debug and the pixel calculations can't affect each other.  But for certain calculations, it's a really useful tool.

        Truth be told, I wasn't necessarily expecting to jump into shaders at the start of things, but after a creative coding exercise, I started thinking about making a numerical wave equation solver.  And it turns out, using shaders is a great way to make the calculations needed for that more efficient.  I haven't gotten there quite yet as I'm still learning a lot, but I hopefully will be soon.
    </p>
    <h2>Book of Shaders</h2>
    <p>
        So, while learning, I'm planning on going through "The Book of Shaders" in order to get better at actually using them.  And with any luck, I'll be able to add my creations to this page as I go along.  I may even be able to use astro's partial hydration to limit the load on the computer as more examples get added.
    </p>

</article>
</MainLayout>