---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout categorySelected="photos">
  <article class="prose lg:prose-xl dark:prose-dark">
    Hopefully there are more photo collections to come, but for now, it's just the pumpkin carvings:
    <ul class="list-disc list-inside">
      <li>
        <a href="/photos/pumpkin-carving">Pumpkin Carving</a>
      </li>
    </ul>
  </article>
</MainLayout>
