---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
<div class="prose lg:prose-xl dark:prose-dark">
        <h1 class="text-center">Uh-Oh!</h1>
        <h2>It looks like I don't have a page for that!</h2>
        <div class="text-9xl flex flex-row justify-center shrink items-center">
        <p class="">4</p>
        <img class="rounded-full border-8 object-scale-down w-24 border-gray-800 dark:border-gray-300" src="/assets/squidkid-aaaaa.png" alt="Screaming Squidkid Logo">
        <p class="">4</p>
        </div>
		</div>
</MainLayout>