---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <article>
    <div>
      Hello! My name is Sylvie&mdash;I use she/they pronouns. I studied physics
      and math in school and now work as a software developer. But I also have
      major interests in fiction, video games, art, and so much more! Truth be
      told, it's kind of hard to put all of that into a single category, so this
      website sort of serves as a grab bag for all of my interests. If you have
      any questions, feel free to reach out to me somewhere in the <a
        href="/contact/">Contact</a
      > section! And if you want to look at any coding projects I've worked on, I
      have a few here:
      <a
        class="social-link"
        title="Find me on Github"
        href="https://www.github.com/oneirocosm"
        ><img
          class="logo"
          width="32px"
          height="32px"
          alt="Git Lab website logo"
          src="/assets/github-mark.svg"
        /><div>My GitHub</div></a
      >
    </div>
  </article>
</MainLayout>
<style>
  .social-link {
    display: flex;
    gap: 8px;

    .logo {
      object-fit: contain;
    }
  }
</style>
