---
import { Markdown } from 'astro/components';
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout categorySelected = 'about'>
<article>
    <Markdown class="prose lg:prose-xl dark:prose-dark">
    Hello!  My name is Colton&mdash;I'm currently trying out she/they pronouns.  I'm a queer individual still trying to figure out a lot about myself.

    <br>

    I studied physics and math in school and now work as a software developer.  In that line, a lot of my interests lie in science and technology, but it is by no means limited to that.  I'm also have major interests in fiction, video games, art, and so much more!  Truth be told, it's kind of hard to put all of that into a single category, so this website sort of serves as a grab bag for all of my interests.  Sure, it's not great for SEO, but I don't have an issue with that for a personal site.
    
    <br>
    
    If you have any questions, feel free to reach out to me somewhere in the [Contact](/contact/) section!

    <br>

    And if you want to look at any coding projects I've worked on, I have a few here:

    <a class="flex" title="Find me on Gitlab" href="https://www.gitlab.com/coltontcrowe"><img width="32px" height="32px" alt="Git Lab website logo" src="/assets/gitlab-icon-rgb.svg"><div class="prose lg:prose-xl dark:prose-dark">My GitLab</div></a>
    </Markdown>
</article>
</MainLayout>