---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout categorySelected = 'about'>
<article>
    <div class="prose lg:prose-xl dark:prose-dark todo">
    Hello!  My name is Sylvie&mdash;I use she/they pronouns.

    <br>

    I studied physics and math in school and now work as a software developer.  But I also have major interests in fiction, video games, art, and so much more!  Truth be told, it's kind of hard to put all of that into a single category, so this website sort of serves as a grab bag for all of my interests.
    
    <br>
    
    If you have any questions, feel free to reach out to me somewhere in the [Contact](/contact/) section!

    <br>

    And if you want to look at any coding projects I've worked on, I have a few here:

    <a class="flex" title="Find me on Github" href="https://www.github.com/oneirocosm"><img width="32px" height="32px" alt="Git Lab website logo" src="/assets/gitlab-icon-rgb.svg"><div class="prose lg:prose-xl dark:prose-dark">My GitLab</div></a>
    </div>
</article>
</MainLayout>