---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout categorySelected = 'contact'>
<article>
<div class="todo">
    <div class="prose lg:prose-xl dark:prose-dark">
    If you want to get a hold of me for some reason, please don't hesitate to reach out.  Here are a few places you can find me!
    </div>

    <a class="flex" title="Find me on Twitter at oneirocosm" href="https://www.twitter.com/oneirocosm"><img width="28px" height="28px" alt="Twitter website logo" src="/assets/twitter-color.svg"><div class="prose lg:prose-xl dark:prose-dark">  My Twitter</div></a>
    <a class="flex" title="Email me" href="mailto:hello@oneirocosm.com"><img class="text-blue-700" width="32px" height="32px" alt="Email logo" src="/assets/mail.svg"><div class="prose lg:prose-xl dark:prose-dark">hello@oneirocosm.com</div></a>


</div>
</article>
</MainLayout>