---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout categorySelected="home">
  <article>
    <img src="/logo.png" alt="Logo" class="portrait" />

    <p class="content">
      Hello! My name is Sylvie, and this is my website! Right now, it's mostly
      serving as a blog for various stuff that I feel like writing about, but in
      the future, who knows! Anyway, the site is still a work in progress, so
      some parts won't be working 100% properly yet&mdash;that said, it's
      starting to get there. Anyway, thanks for visiting! Odds are, if you are
      looking for something here, I've moved it to the <a href="/articles/"
        >Articles</a
      >
      section. I've also finally filled out the <a href="/about/">About</a> and
      <a href="/contact/">Contact</a>
      sections, so feel free to take a look at those as well!
    </p>
  </article>
</MainLayout>
<style>
  .portrait {
    display: block;
    width: 18rem;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 100%;
  }

  .content {
    max-width: 65ch;

    @media (min-width: 1024px) {
      font-size: 1.25rem;
      line-height: 1.8;
    }
  }
</style>
