---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout categorySelected = 'home'>
<article class="prose lg:prose-xl dark:prose-dark">
		This is my personal website.  It's very much a work in progress, so please excuse the mess.  In the meantime, here are a few things you can look at.
		<ul class="list-disc list-inside">
			<li><a href="./articles/creating-this-website">Creating This Website</a></li>	
			<li><a href="./articles/the-nintendo-switch-battery-fiasco">The Nintendo Switch Battery Fiasco</a></li>	
			<li><a href="./articles/a-ttrpg-bartering-system">A TTRPG Bartering System</a></li>	
		</ul>
		</article>
</MainLayout>