---
import DarkModeSwitch from "../components/DarkModeSwitch.astro";
import BaseHead from "../components/BaseHead.astro";
const {
  categorySelected = "",
  pageName = "",
  pageDescription = "",
} = Astro.props;

let title = "oneirocosm";
const url = Astro.url.pathname;
---

<html lang="en" class="">
  <head>
    <BaseHead title={title} description="" />
  </head>
  <body class="">
    <main>
      <nav class="">
        <div class="nav-content">
          <div class="all-links">
            <!-- Website Logo -->
            <a href="/" class="site-logo">
              <img src="/logo.png" alt="Logo" class="site-logo__logo" />
              <span class="site-logo__title">{title}</span>
            </a>
            <!-- Primary Navbar items -->
            <div class="navbar">
              <a
                href="/"
                class={url == "/" ? "navbar__item--current" : "navbar__item"}
                >Home</a
              >
              <a
                href="/articles/"
                class={url === "/articles/"
                  ? "navbar__item--current"
                  : "navbar__item"}>Articles</a
              >
              <a
                href="/about/"
                class={url === "/about/"
                  ? "navbar__item--current"
                  : "navbar__item"}>About Me</a
              >
              <a
                href="/contact/"
                class={url === "/contact/"
                  ? "navbar__item--current"
                  : "navbar__item"}>Contact</a
              >
            </div>
          </div>
          <!-- Secondary Navbar items -->
          <div class="navbar-secondary">
            <DarkModeSwitch />
          </div>
          <!-- Mobile menu button -->
          <button class="mobile-menu-button">
            <svg
              class="mobile-menu-button__icon"
              x-show="!showMenu"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
        <!-- mobile menu -->
        <div class="mobile-menu hidden">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__line">
              <a href="/" class="mobile-menu__item">Home</a>
            </li>
            <li class="mobile-menu__line">
              <a href="/articles/" class="mobile-menu__item">Articles</a>
            </li>
            <li class="mobile-menu__line">
              <a href="/about/" class="mobile-menu__item">About Me</a>
            </li>
            <li class="mobile-menu__line">
              <a href="/contact/" class="mobile-menu__item">Contact</a>
            </li>
          </ul>
        </div>
        <script>
          const btn = document.querySelector(
            "button.mobile-menu-button",
          ) as Element;
          const menu = document.querySelector(".mobile-menu") as Element;

          btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
          });
        </script>
      </nav>
      <div class="page-content-box">
        <div class="page-content">
          <slot />
        </div>
      </div>
      <footer><div class="footer-content">2025 Sylvie Crowe</div></footer>
    </main>
  </body>
</html>
<style is:inline lang="scss">
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;

    background-color: var(--color-sitebg);
    color: var(--color-text);

    main {
      background: var(--color-sitebg);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      nav {
        box-shadow:
          rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

        .nav-content {
          max-width: 72rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: auto;
          color: var(--header-text-color);

          .all-links {
            display: flex;
            font-weight: 600;

            .site-logo {
              display: flex;
              align-items: center;
              padding: 16px 8px;
              font-size: 18px;
              text-decoration: inherit;

              .site-logo__logo {
                display: flex;
                height: 32px;
                width: 32px;
                margin-right: 8px;
                border-radius: 9999px;
              }
            }

            .navbar {
              display: flex;
              align-items: center;
              margin-left: 28px;
              text-decoration: inherit;

              .navbar__item {
                padding: 16px 8px;
                text-decoration: inherit;
              }
              .navbar__item--current {
                padding: 16px 8px 12px 8px;
                border-bottom: 4px solid var(--accent);
                color: var(--accent);
                text-decoration: inherit;
              }
            }
          }

          .navbar-secondary {
            display: flex;
          }

          .mobile-menu-button {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            height: 24px;
            width: 24px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            color: inherit;
            .mobile-menu-button__icon {
              width: 24px;
              height: 24px;
              display: block;

              &:hover {
                color: var(--accent);
              }
            }
          }
        }

        .mobile-menu {
          &.hidden {
            display: none;
          }

          .mobile-menu__list {
            .mobile-menu__line {
              .mobile-menu__item {
                display: block;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                padding: 16px 8px;

                &:hover {
                  background-color: var(--accent);
                  color: white;
                }
              }
            }
          }
        }

        &.dark {
          box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        }
      }

      .page-content-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 24px;

        .page-content {
          max-width: 65ch;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      footer {
        margin-top: auto;

        .footer-content {
          text-align: center;
          margin-top: 2.5rem;
          margin-bottom: 1rem;
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }
  }

  figure {
    margin: auto;
    width: 75%;
    height: auto;

    figcaption {
      p {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
  @media (max-width: 768px) {
    body {
      main {
        nav {
          .nav-content {
            .all-links {
              .navbar {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    body {
      main {
        .page-content-box {
          .page-content {
            font-size: 1.25rem;
            line-height: 1.8;
          }
        }
      }
    }
  }
</style>
